[submodule "my_plugins/async.vim"]
	path = my_plugins/async.vim
	url = git@github.com:prabirshrestha/async.vim.git
[submodule "my_plugins/asyncomplete-lsp.vim"]
	path = my_plugins/asyncomplete-lsp.vim
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim.git
[submodule "my_plugins/asyncomplete.vim"]
	path = my_plugins/asyncomplete.vim
	url = git@github.com:prabirshrestha/asyncomplete.vim.git
[submodule "my_plugins/space-vim-theme"]
	path = my_plugins/space-vim-theme
	url = https://github.com/liuchengxu/space-vim-theme.git
[submodule "my_plugins/tagbar"]
	path = my_plugins/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "my_plugins/vim-choosewin"]
	path = my_plugins/vim-choosewin
	url = git@github.com:t9md/vim-choosewin.git
[submodule "my_plugins/vim-gutentags"]
	path = my_plugins/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule "my_plugins/vim-lsp-settings"]
	path = my_plugins/vim-lsp-settings
	url = git@github.com:mattn/vim-lsp-settings.git
[submodule "my_plugins/vim-lsp"]
	path = my_plugins/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule "my_plugins/vim_current_word"]
	path = my_plugins/vim_current_word
	url = https://github.com/dominikduda/vim_current_word.git
